<div
  class="container-fluid mx-auto mt-5 mb-5 col-12"
  style="text-align: center"
>
  <div class="hd">Why People Believe in Us</div>
  <p>
    <small class="text-muted"
      >Always render more and better service than <br />is expected of you, no
      matter what your ask may be.</small
    >
  </p>
  <div class="row" style="justify-content: center">
    <div class="card col-md-3 col-12 mx-3">
      <div class="card-content">
        <div class="card-body">
          <img class="img" src="assets/images/history.jpeg" />
          <div class="shadow"></div>
          <div class="card-title">Our History</div>
          <div class="card-subtitle">
            <p>
              <small class="text-muted"
                >The bank has been formed from the merger and acquisition of
                nearly twenty banks over the course of its 200 year history.The
                Government of India took control of the Imperial Bank of India
                in 1955,renaming it State Bank of India.</small
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-md-3 col-12 ml-2 mx-3">
      <div class="card-content">
        <div class="card-body">
          <img
            class="img"
            src="https://i.ytimg.com/vi/8m13Tk5ot7o/maxresdefault.jpg"
          />
          <div class="card-title">Who we are!</div>
          <div class="card-subtitle">
            <p>
              <small class="text-muted">
                State Bank of India (SBI) is an Indian multinational public
                sector bank and financial services statutory body headquartered
                in Mumbai, Maharashtra.
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-md-3 col-12 ml-2 mx-3">
      <div class="card-content">
        <div class="card-body">
          <img class="img rck" src="assets/images/achievement.jpg" />
          <div class="card-title">Our Achievements</div>
          <div class="card-subtitle">
            <p>
              <small class="text-muted"
                >SBI is the 43rd largest bank in the world and ranked 221st in
                the Fortune Global 500 list of the world's biggest corporations
                of 2021, being the only Indian bank on the list.</small
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ft">
    <p class="chk"><small class="text-muted">Still not sure?</small></p>
    <div class="text-muted">Look in all our social medias</div>
  </div>
</div>
