<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 25px">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                id="image"
                src="assets/images/goldloan.jpg"
                alt="login form"
                class="img-fluid"
                style="border-radius: 5 rem"
              />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form>
                  <label for="n1">Principle Amount</label><br />
                  <input type="number" name="Principle amount" #n3 /><br />
                  <label for="n2">Year</label><br />
                  <input type="number" name="Year" #n4 /><br />

                  <input
                    type="button"
                    value="check"
                    (click)="dem(n3.valueAsNumber, n4.valueAsNumber)"
                  />
                  <p>The interest is {{ amount1 | currency: "INR" }}</p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
