<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 25px">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                id="image"
                src="assets/images/login1.png"
                alt="login form"
                class="img-fluid"
                style="border-radius: 5 rem"
              />
            </div>
          </div>
        </div>

        <div class="card" style="border-radius: 25px">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                id="image"
                src="assets/images/login1.png"
                alt="login form"
                class="img-fluid"
                style="border-radius: 5 rem"
              />
            </div>
          </div>
        </div>

        <div class="card" style="border-radius: 25px">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                id="image"
                src="assets/images/login1.png"
                alt="login form"
                class="img-fluid"
                style="border-radius: 5 rem"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
